@model dynamic
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment WebHostEnvironment

@{
    ViewData["Title"] = "ITIL";
    var incidentsUrl = string.Empty;
    var accountUrl = string.Empty;
    var problemsUrl = string.Empty;
    var changesUrl = string.Empty;

    if (WebHostEnvironment.IsDevelopment())
    {
        incidentsUrl = "https://localhost:5001/ServiceDesk/Incidents";
        accountUrl = "https://localhost:5001/Account";
        problemsUrl = "https://localhost:5001/Problems";
        changesUrl = "https://localhost:5001/Changes";
    }
    else
    {
        incidentsUrl = "https://itilweb.onrender.com/ServiceDesk/Incidents";
        accountUrl = "https://itilweb.onrender.com/Account";
        problemsUrl = "https://itilweb.onrender.com/Problems";
        changesUrl = "https://itilweb.onrender.com/Changes";
    }
}

<style>
    body {
        background-image: url("https://www.fair-computer.de/wp-content/uploads/adobestock_280046195.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 100vh;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    h1 {
        margin-top: 20px;
        margin-left: 20px;
        color: white;
    }

    .link {
        margin-top: 10px;
        margin-left: 20px;
        color: white;
        text-decoration: none;
    }

    .user-links {
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .login,
    .logout {
        margin-right: 10px;
        color: black;
        text-decoration: none;
    }
</style>

<h1>@ViewData["Title"]</h1>


    @if (User.Identity.IsAuthenticated)
    {
        <div class="user-links">
            <span class="login">@User.Identity.Name</span>
            <a class="logout" href="javascript:void(0);" onclick="logout()">Logout</a>
        </div>
        <a class="link" href="@incidentsUrl">Incidentes</a>
        <a class="link" href="@problemsUrl">Problemas</a>
        <a class="link" href="@changesUrl">Cambios</a>
    }
    else
    {
        <div class="user-links">
            <a class="login" href="@accountUrl">Login</a>
        </div>
        <a class="link">Incidentes</a>
        <a class="link">Problemas</a>
        <a class="link">Cambios</a>
    }

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function logout() {
        $.post("/Account/Logout")
            .done(function () {
                // Handle successful logout
                alert("Logged out successfully!");
                // Optionally, redirect the user to another page after logout
                window.location.href = "/Home/Index";
            })
            .fail(function () {
                // Handle logout failure
                alert("Failed to logout.");
            });
    }
</script>